* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
}

h1 {
    margin-top: 30px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: block;
    max-height: 40px;
    
}