header img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.info-content {
  padding: 1rem 2rem;
  text-align: center;
}
.info-content h1 {
  font-size: 1.5rem;
  margin: 0 0 0.25rem;
  font-family: "Inter", sans-serif;
  font-weight: 700; 
}
.info-content p {
  color: #f3bf99;
  font-size: 0.75rem;
  margin: 0;
  font-weight: 400;
}

.info-content sub {
  font-size: 0.6rem;
  color: #c0c0c0;
}
